# This is a little Python Script made to choose FTG winners
By: Ishan Gore

Main thing that this script assumes is that it is being imported a csv file that has at least 2 columns, where 1 column is named 'Person', and the other column is '# of FTGs'

csv can contain other columns, but they shall be ignored

'Person' column contains the name of the FTG buyer
'# of FTGs' column contains an integer, which is the number of FTGs that the person bought

In [1]:
# import required module
import pandas as pd
import random

In [2]:
# read in data
applicants = pd.read_csv('FTG Applicants - Sheet1.csv')

In [3]:
# Only look at row is there is a Name filled in
applicants = applicants[~applicants['Person'].isna()]

In [4]:
# Look at dataframe to make sure it's correct - mainly check number of rows, etc
applicants

,Person,# of FTGs,Address,Phone,Email,Can we contact?
0,Bruce Kormanec,2.0,NaN,2163178802,BKUSA66@gmail.com,False
1,Rex Moskovitz,1.0,"266 Scamore Woods Ln, Columbus, OH 43230",4144392889,debra.8.marcus@gmail.com,False
2,Brian Miller,2.0,"1435 White Barn Trail, Xenia, OH 45385",9379744779,bmgd0003@yahoo.com,False
3,Steve Fiorino,2.0,"3425 Arlington Pl, Beavercreek, OH 45434",9372450967,stfiorino@aol.com,True
4,Carolyn Schubert,1.0,"5395 Pondview Dr, Westerville, OH 43081",3304184141,schubert.35@osu.edu,True
...,...,...,...,...,...,...
239,Brigitte Boyd,2.0,"2052 Jennifer St Akron, OH 44313",9376237172,brigitteboyd62@gmail.com,True
240,Steve Norman,1.0,"5164 S Arlington Rd North Canton, OH 44720",3302896634,stevenorman144@gmail.com,True
241,Becky Heimbaugh,1.0,"175 N Highland Ave Alum, OH 44303",3302839068,beckyheimbaugh@neo.rr.com,True
242,Bob Gainer,1.0,"3120 Helston Ave Akron, OH 44312",3307152548,bobgainer@gmail.com,False
243,James T McNicholas,1.0,"2528 16th St Cuyahoga Falls, OH 44223",3307013828,tactech311@sbcglobal.net,True

In [5]:
# repeat row for however many FTGs person bought
finalDf = applicants.loc[applicants.index.repeat(applicants['# of FTGs'])].reset_index(drop=True)

In [6]:
# set seed to get same result each time - August randomly chose random_state = 5890263
finalDf = finalDf.sample(frac = 1, replace = False, random_state = 5890263).reset_index(drop=True)

In [7]:
# pick winner by randomly choosing integer and that index is the winner - again for this set seed
# seed was randomly chosen by Anna B. to be 34
random.seed(34)
winnerIndex = random.randint(0, finalDf.shape[0])

In [9]:
# pick winner by randomly choosing integer and that index is the winner - again for this set seed
# seed was randomly chosen by my roomate Ben to be 12
random.seed(12)
winnerIndex = random.randint(0, finalDf.shape[0])
finalDf.iloc[[winnerIndex]]

,Person,# of FTGs,Address,Phone,Email,Can we contact?
485,Camryn Welsh,1.0,NaN,NaN,camrynwelsh@gmail.com,False